<div id="maindivinscription">
<form id="inscriptionform">
    <fieldset id="inputsinscription">
        <div>
            <label for="pseudoinscription">Pseudo :</label>
            <input  id="pseudoinscription"
                    type="text"
                    name="Pseudoinscription"
                    required>
        </div>
        <div>
            <label for="emailinscription">Email :</label>
            <input  id="emailinscription"
                    type="email"
                    name="Emailinscription"
                    required>
        </div>
        <div>
            <label for="passwordinscription">Mot de passe :</label>
            <input  id="passwordinscription"
                    type="password"
                    name="Passwordinscription"
                    required>
        </div>
        <div>
            <label for="nominscription">Nom :</label>
            <input id="nominscription"
                   type="text"
                   name="Nominscription"
                   required>
        </div>
        <div>
            <label for="prenominscription">Prenom :</label>
            <input id="prenominscription"
                   type="text"
                   name="Prenominscription"
                   required>
        </div>
    </fieldset>
    <fieldset id="actionsinscription">
        <input  type="submit"
                id="submitinscription"
                value="S'inscrire">
    </fieldset>
</form>
</div>