<div class="media pt-2 pb-2">
    <img src="https://upload.wikimedia.org/wikipedia/fr/c/c8/Twitter_Bird.svg" class="mr-3" alt="image de profil" width="30" height="30">
    <div class="media-body">
        <h5 class="mt-0">{{ Tweets[i]['Pseudo'] }}</h5>
        {{ Tweets[i]['Content'] }}
        <i class="far fa-heart text-danger float-right"></i>
        <i class="fas fa-retweet text-info float-right"></i>
        <i class="fab fa-btc text-warning float-right"></i>
    </div>
</div>