<div id="maindivtweetcreation">
    <form>
        <div class="form-group">
            <label for="tweetcreationTextarea">Votre tweet : </label>
            <textarea class="form-control" id="tweetcreationTextarea" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="submitconnexion">Poster</button>
    </form>
</div>